/* Common tool classes for PDF printing. */

@media print {
  // vuetify 中有了
  // .d-print-none {
  //   display: none;
  // }

  @page {
    // 这个不是标准，不考虑了
    // @top-center {
    //   content: counter(page) + " / " + counter(pages);
    // }
  }

  .p-break-inside-avoid {
    page-break-inside: avoid;
  }

  .p-break-before-allow {
    page-break-before: auto;
  }

  .p-break-allow {
    page-break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }
}